{% extends 'base.html' %}

{% load static %}

{% block title %}Все вакансии{% endblock %}

{% block content %}
    <div class="all-jobs">
        <div class="container">
            <h1 class="mb-3">Все доступные вакансии</h1>
            {% for job in jobs %}
            {% if job.isActive %}
            <div class="active-jobs mb-5">
                <div class="card mb-3">
                    <div class="card-body">
                        <img src="{{ job.logo }}" width="72" alt="">
                        <h3>{{ job.title }}</h3>
                        <h4>{{ job.company }}</h4>
                        <h5>{{ job.postDate }}</h5>
                        <p><span class="badge text-bg-success">Актуально</span></p>
                        <p>Описание: {{ job.description }}.</p>
                        <a href="{{ job.linkJob }}" target="_blank" class="btn btn-warning">Подробнее</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="not-active-jobs mb-5">
                <div class="card mb-3">
                    <div class="card-body">
                        <img src="{{ job.logo }}" width="72" alt="">
                        <h3>{{ job.title }}</h3>
                        <h4>{{ job.company }}</h4>
                        <h5>{{ job.postDate }}</h5>
                        <p><span class="badge text-bg-danger">В архиве</span></p>
                        <p>Описание: {{ job.description }}.</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}